/*
    El stating context o el conteto de apilamiento es el espacio donde nuestros elementos
    se van a ir apilando para que unos queden por detrás y otros por delante.

    el orden del stating context es: (de delante hacia atrás):
    Elementos posicionados con un z-index de 1 ó mas elementos posicionados sin z-index declarado
    (o un z-index:auto)
    Elementos no posicionados
    Elementos con un z-index negativo 
*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.box-1{
    background-color: darkcyan;
    position: relative;
    z-index: 20;
 }

.container{
    position: relative;
    bottom: 20px;
}

.title{
    background-color: skyblue;
    margin: 0;
    position: relative;
    z-index: 30;
    opacity: 0.75;
}

.text{
    background-color: slateblue;
    margin-top:-30px ;
}
.box{
    text-align: center;
    width: 100px;
    height: 100px;
}



.box-2{
    background-color: darkkhaki;
}

.box-3{
    background-color: darkorchid;
}