*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
}

.box{
    text-align: center;
    width: 100px;
    height: 100px;
}

.box-1{
   background-color: darkcyan;
   position: relative;
   left: 250px;
   z-index: -2;
}
.box-1-2{
    background-color: darksalmon;
    position: relative;
    left: 250px;
    bottom: 30px;
    z-index: -1;
 }

.box-2{
    background-color: darkkhaki;
    position: relative;
    top: 10px;
    z-index: 20;
}

.box-3{
    background-color: darkorchid;
    position: relative;
    z-index: 10;
}