
*{
    box-sizing: border-box;
} 

body{
    margin: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    position: sticky;
    top: 0;
}

img{
    max-width: 100%;
}

.container nav{
    background-color: darkcyan;
}

.header ul{
    
    padding: 30px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header li{
    list-style: none;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0px 20px;
}

.main{
    width: 400px;
    flex-grow: 2;
    margin-right: 40px;
    border:2px solid black;
}

.aside{
    flex-basis: 300px;
}

.footer{
    width: 100%;
    background-color: cadetblue;
    position: absolute;
    bottom: 0px;
}