*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer{
    background-color: black;
    color: whitesmoke;
}

main{
    flex-grow: 1;
}
ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 7px 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    
}
a{
    text-decoration: none;
    color: black;
}

ul{
    display: flex;
}

.logo{
    width: 100px;
    margin: 0px 10px;
    text-align: center;
    position: relative;
}

/*main */

/*image background*/

.header__backgroud{
    background-image: url('../images/hero-image-home.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.header__container__title{
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.header__container__title div{
    text-align: center;
}

.header__container__title div h1{
    margin: 0;
    font-size: 5vw;
}

.header__container__title div span{
    font-size: 3vw;
}

/*contenido prinipal(items)*/


.container__image{
    max-width: 100%;
    height: auto;
    text-align: center;
}

@media (max-width:576px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul{
        flex-direction: column;
    }

    li{
        margin-bottom: 10px;
    }
}

@media (min-width:576px){
    header{
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    ul{
        flex-direction: row;
        margin-right: 1rem;
    }
    li{
        margin: 0px 10px;
    }
    .logo p{
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .container{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 15px;
        align-items: center;
    }
    .container__item{
        flex: 0 0 50%;
    }
    .container__songs__reverse{
        flex-direction: row-reverse;
        
    }
}

