/*
    HEIGHT:
    % -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, 
    si no no podrá calcular el porcentaje. 
    Si se le aplica una medida con porcentaje se sustituirá automaticamente por auto.
    auto -> Cuando utilizamos auto el alto lo calculará el navegador en base al contenido del elemento
  NOTA: Height es una propiedad que tenéis que usar con mucho cuidado. Si no es necesario establecer un alto, 
    dejad que el contenido sea el que decida el alto del elemento.
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}


.container{
    background-color: brown;
    width: 300px;
    height: 300px;

}

.box{
    position: absolute;
    background-color: cadetblue;
    width: 50%;
    height: 100%;
    top: 0;
}

.box-1{
    border-bottom: hidden;
} 
