/*
    WIDTH:
    % -> Cuando usamos porcentaje usamos de referencia el tamaño del contenedor y 
    el navegador calcula ese porcentaje. 
    Esto no ocurre cuando usamos transform.
    auto -> Cuando usamos auto le pedimos al navegador que calcule el ancho en función del espacio disponible.
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

/* .container{
    background-color: burlywood;
    width: 95%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}  */

.container{
    background-color: brown;
    width: auto;
    height: 300px;
    margin: 20px 20px;
}

.box{
    background-color: cadetblue;
    width: auto;
    height: 50%;
    padding: 0px 10px;
    border:2px solid black;
    margin: 0px 20px 10px 20px;
}

.box-1{
    border-bottom: hidden;
} 

