*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 300px;
    height: 300px;
    position: absolute;
}

.box{
    text-align: center;
    width: 100px;
    height: 100px;
}

.box-1{
   background-color: darkcyan;
   position: absolute;
   top: 0px;
   right: 0;
}

.box-2{
    background-color: darkkhaki;
    position: absolute;
    right: 0;
    bottom: 0;
}