/*
    Alineacion del cross axis:
        En Flexbox controla la alineación de los elementos del Cross Axis (en-US),
        existen dos formas de alinear en el eje secundario:
        
        align-items:
            El align-items define la alineacion en el eje transversal (cross axis), dentro de cada
            línea.
            ya que el compotamiento del espacio sucede en cada línea. 
            
            strech | center | start | end |
        
        align-content: 
            La propiedad CSS align-content ajusta las líneas 
            dentro de un contenedor flex cuando hay espacio extra en el eje transversal.
            NO funciona cuando los hijos están en una sola línea. (flex-wrap: nowrap -> align content no funciona.)

            flex-start | center | flex-end | space-between | space-around | strech | space-evenly
*/

*{
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0px auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.item{
    width: 18%;
    /* height: 40%; */
    margin: 0px 10px;
    border: 2px solid black;
}

.container__2{
    width: 800px;
    margin: 0px auto;
    background-color: mediumpurple;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: start;
    height: 300px;
}
ul{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
li{
    text-decoration: none;
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100px;
    border: 2px solid whitesmoke;
    background-color: mediumspringgreen;
}
.container__2 .item__1{
    background-color: mediumseagreen;
    width: 100%;
    text-align: center;
}

.container__2 .item__1 h2{
    width: 50%;
    border:2px solid mediumvioletred;
    margin: 0px auto;
}

.container__2 .item__2{
    border: 2px solid burlywood;
}

.container__3{
    width: 800px;
    margin: 0px auto;
    background-color: mediumpurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

.container__3 .item__1{
    width: 100%;
    background-color: cadetblue;
}

.container__4{
    width: 800px;
    margin: 0px auto;
    background-color: mediumslateblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    height: 300px;
}

.item__4{
    background-color: mediumturquoise;
    width: 40%;
    margin: 0px 10px;
}

.container__5{
    width: 800px;
    margin: 0px auto;
    background-color: midnightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height: 300px;
}

.item__5{
    box-sizing: content-box;
    background-color: mediumslateblue;
    width: 40%;
    margin: 10px 10px;
}