*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    position: relative;
}
img{
    display: block;
    width: 100%;
    height: 80vh;
    background-color: grey;
}

header{
    background-color: black;
    color: whitesmoke;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
}
header h2{
    margin: 0 0px;
}

main{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main__container{
    width: 1000px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

aside{
    width: 250px;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    vertical-align: top;
    padding-bottom: 30px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px; 
    background-color: black;
    color: whitesmoke;
}

footer h2{
    margin: 0;
    text-align: center;
    
}