@font-face {
    font-family: "font local";
    src: local("No Debate"), url('./assets/fonts/No\ Debate.otf');
}

*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: "font local";
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.container-icon{
    text-align: right;
}

.icon{
    text-decoration: none;
    font-size: 2rem;
}