/*
    Formatos para fuentes
      True Type Font (TTF) -> Fue el primer formato estándar.
      Open True Type Font (OTF) -> Facilita o implementa la creación de las curvas.
      Web Open Font Format (WOFF) (WOFF2) -> Es un formato mucho más ligero y mejora el rendimiento. 
      Funciona a través de metadatos. WOFF tiene soporte total y WOFF2 no funciona en internet explorer.
      Scalable Vector Graphics (SVG) -> Para efectos y animaciones sobre el texto, no es recomendable usarlo 
      en el texto genérico de la web, tiene muchos problemas.
      Embedded Open Type (EOT) -> Primer formato digital propuesto para sitios WEB y es comprimido. 
      Se quedó como una propuesta pero no pasó a ser un estándar.
   Regla @font-face
      Esta es la forma de utilizar fuentes que tenemos descargadas y que no traemos de un servidor remoto, 
      cuando usamos google fonts, esto es lo que está pasando por detrás.
      La sintaxis es:
         @font-face {
            font-family: Nombre de la familia, se lo asignamos nosotros;
            src: aquí pondremos dos tipos de valores.
               local() -> pondremos el nombre de la fuente para buscarla en el ordenador del usuario, 
               de esa forma podremos evitar descargarla
               url() -> Si no encontramos esa fuente procederemos a descargarla.
               Existe otro valor, menos usado que es format
               format() -> Este valor lo pasaremos de forma opcional si queremos ser más específicos con 
               la fuente que vamos a buscar o descargar, si no lo ponemos cogerá el primer formato soportado, 
               si lo ponemos sólo usará el que hemos establecido, y si no lo encuentra no hará nada. 
         }
         Podemos añadirle más valores como font-style, font-weight y font-display(experimental), pero esos son opcionales.
*/

@font-face {
    font-family: "font local";
    src:local("Scriptina"), url("./assets/fonts/SCRIPTIN.ttf");
}

body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: "font local";
    font-size: 3rem;
    margin: 0;
    text-align: center;
}