/*
    Transformaciones de texto
      Text-transform: Esta propiedad nos permite hacer transformaciones ESTÉTICAS en nuestro texto.
      Admite los valores:
         none: No se aplicará ninguna transformación.
         uppercase: El texto se pondrá en mayúsculas
         lowercase: El texto se pondrá en minúsculas
         capitalize: Transforma la primera letra de cada palabra en mayúscula.
    Adornos en el texto
      Text-decoration: Esta propiedad nos permite controlar la línea que podemos poner en los textos.
      Admite los valores:
         none: Elimina cualquier línea.
         underline: Coloca una linea bajo el texto.
         overline: Coloca una linea sobre el texto.
         line-through: Coloca una linea tachando el texto.
      Text-shadow: Funciona exáctamente igual que box-shadow, con la única diferencia de que no admite el valor inset ni la expansión de la sombra.
      Los valores son: 
         offsetX: desplazamiento horizontal.
         offsetY: desplazamiento vertical
         blur: desenfoque.
         color: color, por defecto coge el del texto.
*/

.text{
  text-transform: uppercase;
}

.link{
  text-decoration: none;
  color: black;
}