/*
    la propiedad position nos permite posicionar los elementos. Hay algunos conceptos que se debe 
    conocer para entender position.

    flujo de renderizado -> por norma general los elementos se dibujan de izquierda a derecha y de arriba para abajo
    El punto 0,0 de los elementos, por norma general es la esquina superior izquierdo.

    flujo reservado -> Es el espacio que tiene un elemento asignado en el navegador.

    Elemento posicionado -> Esto significa que el elemento tiene la propiedad position con un valor 
    distinto de "static", que el valor que tiene esta propiedad por defecto.

    Stackin context -> Contexto de apilamiento. Es el orden en el que se apilarán las cajas que 
    se superponen dentro del mismo contenedor.

    Al posicionar un elemento se habilitan 5 propiedades que podemos utilizar para mover los elementos
    en los 4 ejes.

    Top -> El elemento se moverá desde la parte superior la distancia que le hayamos indicado.
    
    rigth -> El elemento se moverá desde la parte derecha la distancia que le hayamos indicado.

    bottom -> El elemento se moverá desde la parte inferior la distancia que le hayamos indicado.
    
    left -> El elemento se moverá desde la parte izquierda la distancia que le hayamos indicado.

    z-index -> Nos permite mover el elemento en el contexto de apilamiento (eje z).

    NOTA: si a un elemento le declaramos la propiedad top y/o left, las propiedades bottom y/o rigth no
    funcionarán.


    Los posibles valores que le podemos dar a position son:

    STATIC -> Es el valor que viene por defecto, con este valor el elemento NO ESTÁ POSICIONADO y por lo
    cual no podremos moverlo.

    Relative -> El elemento mantendrá su posicion y medidas en el flujo de renderizado y mantendrá su
        espacio reservado. si lo movemos lo hará usando su posicion en el html como punto de referencia.
    
    Absolute -> El elemento perderá sus medidas y espacio reservado. Si lo movemos usará el elemento padre 
        posicionado como referencia. si no tiene ninguno usará el elemento el elemento html como 
        referencia.
    
    Fixed -> El elemento perderá sus medidas y espacio reservado. Si lo movemos usará el elemento html
        de referencia, y además se quedará fijo en esa posición aunque hagamos scroll.
    
    Sticky -> Es una mezcla de position relative y fixed.
        Con este tipo de posicionamiento los valores top, left, bottom y rigth no sirven para mover el
        elemento, si no para indicarle en qué punto pasará a tener un comportamiento fixed. hasta ese punto
        se comportará como si tuviera relative.
*/