/*
    prefijos propietarios:
        son pefijos que se le deben asignar dependiendo el navegador que se utiliza,
        ya que las propiedades que se le asigna en un navegador no
*/
body{
    background-color: coral;
}
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(to bottom, white, black);
}