*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container-img{
    text-align: center;
}
img{
    width: 100%;
    height: 750px;
}

.header{
    text-align: center;
    padding: 25px 0;
    background-color: burlywood;
    height: 300px;
}
nav{
    position: sticky;
    top: 0px;
}

.seccion{
    background-color: cadetblue;
    position: sticky;
    top: 10px;
}