/*
    Limitadores al ancho y alto
    Cuando establecemos un width y/o un height con una medida que es relativa, es posible que no queramos 
    que se respete esa medida en todos los casos.
    Para ello tenemos propiedades que limitan esas medidas:
      min-width: Indica el ancho minimo que puede alcanzar el elemento.
      max-width: Indica el ancho máximo que puede alcanzar el elemento.
      min-height: Indica el alto minimo que puede alcanzar el elemento.
      max-height: Indica el alto máximo que puede alcanzar el elemento.
*/
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5em;
}

header{
    background-color: burlywood;
}

.box{
    max-width: 50%;
    height: 300px;
    background-color: darkcyan;
}

footer{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    bottom: 0;
    margin: 0;
}