*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
}

.box-1{
   background-color: darkcyan;
   position: relative;
   top: 50px;

}

.box-2{
    background-color: darkkhaki;
    border-radius: 50px;
    position: relative;
    z-index: 10;
}